body {
    padding: 0 15px;
}

main {
    display: grid;
    /* grid-template-columns: repeat(minmax(300px, 1fr), 2); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}